In [1]:
import numpy as np
import pandas as pd

In [2]:
list = [10,12,9,11,8]
x = pd.Series(list)
print(list)
print(x)

[10, 12, 9, 11, 8]
0    10
1    12
2     9
3    11
4     8
dtype: int64

In [3]:
print(f"Dates : {pd.date_range('01-01-2023','10-01-2023')}")

Dates : DatetimeIndex(['2023-01-01', '2023-01-02', '2023-01-03', '2023-01-04',
               '2023-01-05', '2023-01-06', '2023-01-07', '2023-01-08',
               '2023-01-09', '2023-01-10',
               ...
               '2023-09-22', '2023-09-23', '2023-09-24', '2023-09-25',
               '2023-09-26', '2023-09-27', '2023-09-28', '2023-09-29',
               '2023-09-30', '2023-10-01'],
              dtype='datetime64[ns]', length=274, freq='D')

In [8]:
data = {'Name' : ['Abhay','Baby','Vishnu','Anuja','Anamika'],
        'Age': [23,22,24,23,22]}
df = pd.DataFrame(data)
print(df)

      Name  Age
0    Abhay   23
1     Baby   22
2   Vishnu   24
3    Anuja   23
4  Anamika   22

In [10]:
data = [['Abhay',23],['Baby',22],['Anuja',23]]
print(data)
data2 = pd.DataFrame(data,columns=['Name','Age'])
print(data2)

[['Abhay', 23], ['Baby', 22], ['Anuja', 23]]
    Name  Age
0  Abhay   23
1   Baby   22
2  Anuja   23

In [11]:
data3 = pd.read_csv("testVelocity.csv")
print(data3)

   Velocity  Acceleration
0        12            50
1        13            45
2        10            55
3        15             9
4        20            67
5        14            52

In [18]:
print(data3.sort_values(by=['Acceleration'],inplace=False))

   Velocity  Acceleration
3        15             9
1        13            45
0        12            50
5        14            52
2        10            55
4        20            67

In [25]:
df = pd.DataFrame({'Name': ['Abhay', 'Vishnu', 'Varun','Vivek'],
                   'Age': [23, 24, 28,18],
                   'City': ['Kannur', 'Idukki', 'Kollam',"Wayanad"]},
                   index = ['a','b','c','d'])

print(df)
df.reset_index(inplace=True)
print(df)

     Name  Age     City
a   Abhay   23   Kannur
b  Vishnu   24   Idukki
c   Varun   28   Kollam
d   Vivek   18  Wayanad
  index    Name  Age     City
0     a   Abhay   23   Kannur
1     b  Vishnu   24   Idukki
2     c   Varun   28   Kollam
3     d   Vivek   18  Wayanad

In [26]:
print(df.head(2))

  index    Name  Age    City
0     a   Abhay   23  Kannur
1     b  Vishnu   24  Idukki

In [28]:
data = {'Name':['Abhay','Baby','Anuja','Anamika'],
        'Job':['Teacher','Engineer','Teacher','Engineer']}
df1 = pd.DataFrame(data)
df2 = pd.DataFrame({'Name':['Abhay','Baby','Anuja','Anamika'],
                    'Salary':[1000,1200,1100,1500]})
df=pd.merge(df1,df2,on='Name')
print(df1)
print(df2)
print(df)

      Name       Job
0    Abhay   Teacher
1     Baby  Engineer
2    Anuja   Teacher
3  Anamika  Engineer
      Name  Salary
0    Abhay    1000
1     Baby    1200
2    Anuja    1100
3  Anamika    1500
      Name       Job  Salary
0    Abhay   Teacher    1000
1     Baby  Engineer    1200
2    Anuja   Teacher    1100
3  Anamika  Engineer    1500

In [29]:
print(df.groupby('Job')['Salary'].mean())

Job
Engineer    1350.0
Teacher     1050.0
Name: Salary, dtype: float64

In [31]:
df = pd.DataFrame({
    'CName': ['Accenture', 'IBM', 'TCS', 'Deloitte', 'TATA Elxsi'],
    'Profit': [100, -200, 300, -400, 500]
})

# df['Profit'] = df['Profit']>0
df['Profit'] = df['Profit'].apply(lambda x:True if x>0 else False)
df

        CName  Profit
0   Accenture    True
1         IBM   False
2         TCS    True
3    Deloitte   False
4  TATA Elxsi    True